

@{
    ViewBag.Title = "Eliminar";
}

 

<h3>ELIMINAR DEPARTAMENTO</h3>
<form method="post">
    Número : <input type="text" name="numerodel" /><br /><br />
    <button type="submit">Eliminar</button>
</form>
<hr />
@Html.ActionLink("Volver al listado", "Index", "Departamentos")