
@model List<MVCAccesoDatos.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA DE DEPARTAMENTOS</h2>

<ul class="list-group">
    @foreach(MVCAccesoDatos.Models.Departamento dept in Model)
    {
        <li class="list-group-item">
            @dept.Nombre
            @Html.ActionLink("Detalles","Detalles","Departamentos",
           new { deptno = dept.numero }, new { @class = "btn btn-warning glyphicon glyphicon-plus-sign" })
         
            
       </li>
        
    }
</ul>
<hr />
<h3>INSERTAR DEPARTAMENTOS</h3>
<form method="post" class="form-group">
    Número : <input type="text" name="numero" /><br /><br />
    Nombre : <input type="text" name="Nombre" /><br /><br />
    Localidad : <input type="text" name="Localidad" /><br /><br />
    <button type="submit" class="alert-success">Insertar</button>
</form>
@Html.ActionLink("Ir a eliminar", "Eliminar", "Departamentos")
        
<h5 style="color:blueviolet">
    @ViewBag.Mensaje
</h5>




 