
@model List<MVCAccesoDatos.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA DE DEPARTAMENTOS</h2>

<ul>
    @foreach(MVCAccesoDatos.Models.Departamento dept in Model)
    {
        <li>
            @dept.Nombre
            @Html.ActionLink("Detalles","Detalles","Departamentos",
           new { deptno = dept.numero },null)
            
       </li>
        
    }
</ul>
<hr />
<h3>INSERTAR DEPARTAMENTOS</h3>
<form method="post">
    Número : <input type="text" name="numero" /><br /><br />
    Nombre : <input type="text" name="Nombre" /><br /><br />
    Localidad : <input type="text" name="Localidad" /><br /><br />
    <button type="submit">Insertar</button>
</form>
@Html.ActionLink("Ir a eliminar", "Eliminar", "Departamentos")
        
<h5 style="color:blueviolet">
    @ViewBag.Mensaje
</h5>




 