
@model List<MVCAccesoDatos.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA DE DEPARTAMENTOS</h2>

<ul>
    @foreach(MVCAccesoDatos.Models.Departamento dept in Model)
    {
        <li>
            @dept.Nombre
            @Html.ActionLink("Detalles","Detalles","Departamentos",
           new { deptno = dept.numero },null)
            
       </li>
        
    }
</ul>